@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    
    font-family: 'Rubik', sans-serif;
}

.topicHeading{
    font-family: 'Barrio', cursive;
    font-size: 64px;
    text-align: center;
}